* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #FCFAF9;
  color: #444444;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  height: 100vh;
  width: 100%;
}

h1,
h2,
a {
  color: #151515;
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 900;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 7.5rem;
}
.hero .hero__location {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
}
.hero .hero__location h1 {
  font-size: 3.75rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}
.hero .hero__location .location-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero .hero__location .location-info p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.hero .hero__location .location-info .location-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #D5966C;
  cursor: pointer;
  gap: 24px;
  transition: background-color 0.2s;
  width: 260px;
}
.hero .hero__location .location-info .location-button .location-link {
  background-color: #151515;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  padding: 1.5rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
}
.hero .hero__location .location-info .location-button:hover {
  background-color: #151515;
}
.hero .hero__location .location-info .location-button:hover .location-link {
  background-color: #D5966C;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
  .hero picture img {
    width: 437px;
  }
  .hero .hero__location {
    margin-left: -3rem;
    padding: 0 2.5rem 0 0;
  }
  .hero .hero__location h1 {
    font-size: 4.375rem;
    line-height: 93%;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    margin: 0 auto 11.25rem auto;
    max-width: 1440px;
    position: relative;
  }
  .hero picture img {
    margin-left: 28rem;
    position: relative;
    width: 540px;
  }
  .hero picture ::before {
    background-color: #151515;
    content: "";
    height: 800px;
    position: absolute;
    width: 28rem;
    z-index: -1;
  }
  .hero .hero__location {
    flex-direction: row;
    gap: 19.5rem;
    margin-left: -51.6rem;
    margin-top: -11rem;
    padding: 0;
    z-index: 1;
  }
  .hero .hero__location h1 {
    background: linear-gradient(to right, white 285px, black 250px);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-size: 6rem;
    line-height: 5.5rem;
    width: 100%;
  }
  .hero .hero__location .location-info {
    gap: 4rem;
    justify-content: space-between;
  }
  .hero .hero__location .location-info p {
    font-size: 1.375rem;
    line-height: 2rem;
    width: 350px;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
  margin-bottom: 7.5rem;
  padding: 0 1rem;
}
.gallery .gallery__title {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-bottom: 2rem;
  order: 2;
}
.gallery .gallery__title h2 {
  font-size: 3.125rem;
  line-height: 90%;
  text-transform: uppercase;
  white-space: pre-line;
}
.gallery .gallery__title p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.gallery .gallery__picture-one {
  background-image: url("../../../assets/images/image-grid-1-mobile.jpg");
  background-size: cover;
  height: 20rem;
  margin-bottom: 1.5rem;
  order: 1;
}
.gallery .gallery__picture-two {
  background-image: url("../../../assets/images/image-grid-2-mobile.jpg");
  background-size: cover;
  height: 30rem;
  margin-bottom: 1rem;
  order: 3;
}
.gallery .gallery__picture-three {
  background-image: url("../../../assets/images/image-grid-3-mobile.jpg");
  background-position: center;
  background-size: cover;
  height: 12.5rem;
  margin-bottom: 1rem;
  order: 4;
}
.gallery .gallery__invitation {
  display: flex;
  flex-direction: column;
  background-color: #151515;
  gap: 1.5rem;
  order: 5;
  padding: 3rem 1.5rem;
}
.gallery .gallery__invitation h2 {
  color: #FFFFFF;
  font-size: 3.125rem;
  line-height: 90%;
  text-transform: uppercase;
}
.gallery .gallery__invitation p {
  color: #FFFFFF;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem;
    padding: 0 2.5rem;
  }
  .gallery .gallery__title {
    gap: 1.5rem;
    grid-area: 1/1/2/2;
    margin-bottom: 0;
    padding: 2.25rem 4.25rem 0 0;
  }
  .gallery .gallery__title h2,
  .gallery .gallery__title p {
    width: 223px;
  }
  .gallery .gallery__picture-one,
  .gallery .gallery__picture-two,
  .gallery .gallery__picture-three {
    margin-bottom: 0;
  }
  .gallery .gallery__picture-one {
    background-image: url("../../../assets/images/image-grid-1-tablet.jpg");
    height: 25rem;
    grid-area: 1/2/2/4;
  }
  .gallery .gallery__picture-two {
    background-image: url("../../../assets/images/image-grid-2-tablet.jpg");
    height: 45rem;
    grid-area: 2/1/4/3;
  }
  .gallery .gallery__picture-three {
    background-image: url("../../../assets/images/image-grid-3-tablet.jpg");
    height: 19.5rem;
    grid-area: 2/3/3/4;
    width: 17.5rem;
  }
  .gallery .gallery__invitation {
    grid-area: 3/3/4/4;
    padding: 5.3rem 1.75rem;
  }
}
@media screen and (min-width: 1440px) {
  main {
    margin: 0 auto;
    max-width: 1110px;
  }
  main .gallery {
    gap: 1.8rem;
    padding: 0;
  }
  main .gallery .gallery__title {
    padding: 3.75rem 7.8rem 0 0;
  }
  main .gallery .gallery__title h2,
  main .gallery .gallery__title p {
    width: 350px;
  }
  main .gallery .gallery__title h2 {
    font-size: 3.75rem;
    white-space: initial;
  }
  main .gallery .gallery__title p {
    font-size: 1.375rem;
    line-height: 2rem;
  }
  main .gallery .gallery__picture-one {
    background-image: url("../../../assets/images/image-grid-1.jpg");
  }
  main .gallery .gallery__picture-two {
    background-image: url("../../../assets/images/image-grid-2.jpg");
  }
  main .gallery .gallery__picture-three {
    background-image: url("../../../assets/images/image-grid-3.jpg");
    width: 28rem;
  }
  main .gallery .gallery__invitation {
    padding: 4rem 3rem;
  }
  main .gallery .gallery__invitation h2 {
    font-size: 3.75rem;
    line-height: 100%;
  }
  main .gallery .gallery__invitation p {
    font-size: 1.375rem;
    line-height: 2rem;
  }
}
footer {
  background-color: #151515;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3rem 2rem;
}
.footer-wrapper img {
  width: 110px;
}
.footer-wrapper p {
  color: #FFFFFF;
  line-height: 1.625rem;
}
.footer-wrapper .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}
.footer-wrapper .socials img {
  width: 20px;
}
.footer-wrapper .socials svg {
  cursor: pointer;
}
.footer-wrapper .socials svg path {
  transition: fill 0.3s;
}
.footer-wrapper .socials .facebook:hover svg path,
.footer-wrapper .socials .instagram:hover svg path,
.footer-wrapper .socials .twitter:hover svg path {
  fill: #D5966C;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    align-items: flex-start;
    flex-direction: row;
    gap: 0;
    padding: 3.5rem 2.5rem;
  }
  .footer-wrapper p {
    margin: 0 8.31rem 0 4.06rem;
    width: 17.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .footer-wrapper {
    margin: 0 auto;
    max-width: 1110px;
    padding: 5rem 0;
    justify-content: space-between;
  }
  .footer-wrapper p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0 17.5rem 0 8.78rem;
    width: 26.875rem;
  }
}/*# sourceMappingURL=main.css.map */