* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #FCFAF9;
  color: #444444;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  height: 100vh;
  width: 100%;
}

h1,
h2,
a {
  color: #151515;
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 900;
}

// @media screen and (min-width: 1440px) {
//   body {
//     margin: 0 auto;
//     max-width: 1110px;
//   }
// }

@import 'components/hero';
@import 'components/gallery';
@import 'components/footer';