@import '../../mixins/display';

.gallery {
  @include display-flex(flex, column);
  margin-bottom: 7.5rem;
  padding: 0 1rem;

  .gallery__title {
    @include display-flex(flex, column);
    gap: 1.3rem;
    margin-bottom: 2rem;
    order: 2;

    h2 {
      font-size: 3.125rem;
      line-height: 90%;
      text-transform: uppercase;
      white-space: pre-line;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }

  .gallery__picture-one {
    background-image: url('../../../assets/images/image-grid-1-mobile.jpg');
    background-size: cover;
    height: 20rem;
    margin-bottom: 1.5rem;
    order: 1;
  }

  .gallery__picture-two {
    background-image: url('../../../assets/images/image-grid-2-mobile.jpg');
    background-size: cover;
    height: 30rem;
    margin-bottom: 1rem;
    order: 3;
  }

  .gallery__picture-three {
    background-image: url('../../../assets/images/image-grid-3-mobile.jpg');
    background-position: center;
    background-size: cover;
    height: 12.5rem;
    margin-bottom: 1rem;
    order: 4;
  }

  .gallery__invitation {
    @include display-flex(flex, column);
    background-color: #151515;
    gap: 1.5rem;
    order: 5;
    padding: 3rem 1.5rem;

    h2 {
      color: #FFFFFF;
      font-size: 3.125rem;
      line-height: 90%;
      text-transform: uppercase;
    }

    p {
      color: #FFFFFF;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem;
    padding: 0 2.5rem;

    .gallery__title {
      gap: 1.5rem;
      grid-area: 1 / 1 / 2 / 2;
      margin-bottom: 0;
      padding: 2.25rem 4.25rem 0 0;

      h2,
      p {
        width: 223px;
      }
    }

    .gallery__picture-one,
    .gallery__picture-two,
    .gallery__picture-three {
      margin-bottom: 0;
    }

    .gallery__picture-one {
      background-image: url('../../../assets/images/image-grid-1-tablet.jpg');
      height: 25rem;
      grid-area: 1 / 2 / 2 / 4;
    }

    .gallery__picture-two {
      background-image: url('../../../assets/images/image-grid-2-tablet.jpg');
      height: 45rem;
      grid-area: 2 / 1 / 4 / 3;
    }

    .gallery__picture-three {
      background-image: url('../../../assets/images/image-grid-3-tablet.jpg');
      height: 19.5rem;
      grid-area: 2 / 3 / 3 / 4;
      width: 17.5rem;
    }

    .gallery__invitation {
      grid-area: 3 / 3 / 4 / 4;
      padding: 5.3rem 1.75rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  main {
    margin: 0 auto;
    max-width: 1110px;

    .gallery {
      gap: 1.8rem;
      padding: 0;

      .gallery__title {
        padding: 3.75rem 7.8rem 0 0;

        h2,
        p {
          width: 350px;
        }

        h2 {
          font-size: 3.75rem;
          white-space: initial;
        }

        p {
          font-size: 1.375rem;
          line-height: 2rem;
        }
      }

      .gallery__picture-one {
        background-image: url('../../../assets/images/image-grid-1.jpg');
      }

      .gallery__picture-two {
        background-image: url('../../../assets/images/image-grid-2.jpg');
      }

      .gallery__picture-three {
        background-image: url('../../../assets/images/image-grid-3.jpg');
        width: 28rem;
      }

      .gallery__invitation {
        padding: 4rem 3rem;

        h2 {
          font-size: 3.75rem;
          line-height: 100%;
        }

        p {
          font-size: 1.375rem;
          line-height: 2rem;
        }
      }
    }

  }
}