@import '../../mixins/display';

.hero {
  @include display-flex(flex, column);
  gap: 2rem;
  margin-bottom: 7.5rem;

  .hero__location {
    @include display-flex(flex, column);
    gap: 2rem;
    padding: 0 1rem;

    h1 {
      font-size: 3.75rem;
      line-height: 3.5rem;
      text-transform: uppercase;
    }

    .location-info {
      @include display-flex(flex, column);
      gap: 2rem;

      p {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }

      .location-button {
        @include display-flex(flex, row);
        align-items: center;
        background-color: #D5966C;
        cursor: pointer;
        gap: 24px;
        transition: background-color 0.2s;
        width: 260px;

        .location-link {
          background-color: #151515;
          color: #FFFFFF;
          font-size: 1.25rem;
          font-weight: 800;
          letter-spacing: 0.2rem;
          padding: 1.5rem 2rem;
          text-decoration: none;
          text-transform: uppercase;
          transition: background-color 0.2s;
        }

        &:hover {
          background-color: #151515;
        }

        &:hover .location-link {
          background-color: #D5966C;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    @include display-flex(flex, row);
    align-items: center;
    gap: 0;

    picture {
      img {
        width: 437px;
      }
    }

    .hero__location {
      margin-left: -3rem;
      padding: 0 2.5rem 0 0;

      h1 {
        font-size: 4.375rem;
        line-height: 93%;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    margin: 0 auto 11.25rem auto;
    max-width: 1440px;
    position: relative;

    picture {
      img {
        margin-left: 28rem;
        position: relative;
        width: 540px;
      }

      ::before {
        background-color: #151515;
        content: '';
        height: 800px;
        position: absolute;
        width: 28rem;
        z-index: -1;
      }
    }

    .hero__location {
      flex-direction: row;
      gap: 19.5rem;
      margin-left: -51.6rem;
      margin-top: -11rem;
      padding: 0;
      z-index: 1;

      h1 {
        background: linear-gradient(to right, white 285px, black 250px);
        background-clip: text;
        color: transparent;
        font-size: 6rem;
        line-height: 5.5rem;
        width: 100%;
      }

      .location-info {
        gap: 4rem;
        justify-content: space-between;

        p {
          font-size: 1.375rem;
          line-height: 2rem;
          width: 350px;
        }
      }
    }
  }
}